## A Pandas DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns).

## A Pandas DataFrame can be created from various data sources, such as lists, dictionaries, NumPy arrays, or even by reading data from files.

In [42]:
import  pandas as pd

## =====>>>>Creating dataframe from a dictionary of lists

In [43]:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}

In [44]:
df = pd.DataFrame(data)

In [45]:
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

## =====>>>>Creating dataframe from a list of dictionaries

In [46]:
data_list = [{'Name': 'Alice', 'Age': 25, 'City': 'New York'},
             {'Name': 'Bob', 'Age': 30, 'City': 'Los Angeles'},
             {'Name': 'Charlie', 'Age': 35, 'City': 'Chicago'},
             {'Name': 'David', 'Age': 40, 'City': 'Houston'}]

In [47]:
df = pd.DataFrame(data_list)

In [48]:
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

## Accessing Data in a DataFrame:

In [49]:
print(df['Name'])  # Accessing the 'Name' column.

0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

In [50]:
print(df["City"])  # Accessing the 'Name' column.

0       New York
1    Los Angeles
2        Chicago
3        Houston
Name: City, dtype: object

## ===>>>>>>Accessing Rows: using .loc[] or .iloc[] to access rows by their index labels or integer positions.

In [51]:
print(df.loc[0])    # Accessing the first row by index label.

Name       Alice
Age           25
City    New York
Name: 0, dtype: object

In [52]:
print(df.loc[2])   # Accessing the third row by integer position.

Name    Charlie
Age          35
City    Chicago
Name: 2, dtype: object

In [53]:
print(df.iloc[0])   # Accessing the third row by integer position.

Name       Alice
Age           25
City    New York
Name: 0, dtype: object

# Slicing DataFrames

In [54]:
print(df['Age'][1:3])  # Slicing the 'Age' column for rows 1 to 2.

1    30
2    35
Name: Age, dtype: int64

# ===>>>DataFrame Attributes

In [55]:
print(df.shape) #Returns a tuple representing the dimensions (rows, columns) of the DataFrame.

(4, 3)

In [59]:
print(df.columns)  #Returns the column labels as an Index object.

Index(['Name', 'Age', 'City'], dtype='object')

In [60]:
print(df.index) # Returns the row labels as an Index object.

RangeIndex(start=0, stop=4, step=1)

In [61]:
print(df.dtypes) #Returns the data types of each column.

Name    object
Age      int64
City    object
dtype: object

# ====>>> Named Indexes

In [62]:
mydata = {"carolies":[343,545,567],"duration":[30,47,33]}

In [63]:
df = pd.DataFrame(mydata, index = ["day1","day2","day3"])

In [64]:
print(df)

      carolies  duration
day1       343        30
day2       545        47
day3       567        33

In [66]:
print(df.loc["day1"])

carolies    343
duration     30
Name: day1, dtype: int64

In [67]:
print(df.loc["day2"])

carolies    545
duration     47
Name: day2, dtype: int64