## Series() is a constructor method in the Pandas library for creating one-dimensional labeled arrays, known as Pandas Series.

## A Pandas Series is a one-dimensional labeled array that can hold data of various types, such as lists, arrays, or dictionaries.

## Importing pandas library

In [126]:
import pandas as pd

## Creating a dictionary======>>>>>From a dictionary

In [127]:
mydic = {"Cars":["Benz","Volvo","BMW","Corola"],"Model":[2001,2003,3004,2004]}

## Creating series called struct from mydic

In [128]:
struct = pd.Series(mydic)

In [129]:
print(struct)

Cars     [Benz, Volvo, BMW, Corola]
Model      [2001, 2003, 3004, 2004]
dtype: object

## ====>>>>>>Another dictionary

In [130]:
calories = {"day1": 420, "day2": 380, "day3": 390}

In [131]:
print(pd.Series(calories))

day1    420
day2    380
day3    390
dtype: int64

In [132]:
print(calories["day1"])

420

In [133]:
print(calories["day1"])

420

In [134]:
print(calories["day1"])

420

In [135]:
day = calories["day2"]
print(day)

380

In [136]:
data_dict = {'A': 100, 'B': 200, 'C': 300}
series_from_dict = pd.Series(data_dict)
print(series_from_dict)

A    100
B    200
C    300
dtype: int64

## ==>>>>>Accessing elemetns

In [137]:
print(series_from_dict[0])
print(series_from_dict[1])
print(series_from_dict[2])
print(series_from_dict['B'])

100
200
300
200

# Attributes of series

In [138]:
print(series_from_dict.values) #Returns the data as a NumPy array.
print(series_from_dict.index) #Returns the index as a separate object.
print(series_from_dict.dtype) #Returns the data type of the elements in the Series.

[100 200 300]
Index(['A', 'B', 'C'], dtype='object')
int64

## ======>>>>>From a list

In [139]:
mylist = [1,2,3,4,5]

In [140]:
list = pd.Series(mylist)

In [141]:
print(list)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [142]:
print(list[3])

4

In [143]:
print(list[:2])

0    1
1    2
dtype: int64

In [144]:
print(list[2:])

2    3
3    4
4    5
dtype: int64

In [145]:
mylists = [1,2,3,4,5]

In [146]:
list1 = pd.Series(mylist, index =["V","W","X","Y","Z"])

In [147]:
print(list1)

V    1
W    2
X    3
Y    4
Z    5
dtype: int64

In [148]:
print(list1["W"])

2

In [149]:
print(list1["W":])

W    2
X    3
Y    4
Z    5
dtype: int64

In [150]:
print(list1[:"X"])

V    1
W    2
X    3
dtype: int64

In [151]:
data_list = [10, 20, 30, 40, 50]
series_from_list = pd.Series(data_list)
print(series_from_list)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [152]:
print(series_from_list.values) #Returns the data as a NumPy array.
print(series_from_list.index) #Returns the index as a separate object.
print(series_from_list.dtype) #Returns the data type of the elements in the Series.

[10 20 30 40 50]
RangeIndex(start=0, stop=5, step=1)
int64

## Basic Operations on Series

In [153]:
# Arithmetic operations
result = series_from_list + 5
print(result)

0    15
1    25
2    35
3    45
4    55
dtype: int64

In [154]:
# Boolean indexing
subset = series_from_list[series_from_list > 20]
print(subset)

2    30
3    40
4    50
dtype: int64